<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800"><?= $subtitle ?></h1>
        <div>
            <a href="/data/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Create</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Print Report</a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>image</th>
                            <th>uuid</th>
                            <th>name</th>
                            <th>email</th>
                            <th>phone</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>image</th>
                            <th>uuid</th>
                            <th>name</th>
                            <th>email</th>
                            <th>phone</th>
                            <th>action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <% let numb = 1 %> 
                        <% data.forEach(result => {   %> 
                            <tr>
                                <th><%= numb++ %> </th>
                                <th class="text-center">
                                    <img src="assets/img/<%= result.image %>" alt="" class=" rounded" width="50">
                                </th>
                                <th><%= result.uuid %> </th>
                                <th><%= result.name %></th>
                                <th><%= result.email %></th>
                                <th><%= result.phone %></th>
                                <form action="/data?_method=DELETE" method="POST" class="">
                                    <input type="hidden" name="_id" value="<%= result._id %>">
                                    <th class="text-center">
                                        <a href="" class="text-danger"><i class="fas fa-eye"></i></a>
                                        <a href="/data/edit/<%= result.uuid %>" class="text-primary"><i class="fas fa-edit"></i></a>
                                        <button type="submit" class="text-danger" style="border:none; background-color:transparent;"><i class="fas fa-trash" onclick="return confirm('Are you sure wanna delete it?')"></i></button>
                                    </th>
                                </form>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>