<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!contact) { %>
                <div class="alert alert-primary" role="alert">
                    Contact not found <a href="/contact" class="alert-link">Back to contact</a>. Sorry.
                </div>
            <% } else { %>
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= contact.nama  %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= contact.email  %> </h6>
                    <h6 class="card-subtitle mb-2 text-muted">+<%= contact.nohp  %> </h6>
                    <p class="card-text" ></p>
                    <form action="/contact?_method=DELETE" class="d-inline" method="POST">
                        <input type="hidden" name="nama" value="<%= contact.nama  %>">
                        <button type="submit" class="btn btn-danger badge " onclick="return confirm('yakin?')">hapus</button>
                    </form>
                    <a href="/contact/edit/<%= contact.nama %>" class="btn btn-success badge " >ubah</a>
                    <a href="/contact" class="card-link d-block mt-3">&laquo Kembali</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>